.jobs {


  #jobs-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 72px 0px 56px 0;
  }

  #jobs-cards-list {
    flex-wrap: wrap;
    align-items: center;
    width: 1040px;
    gap: 24px;
    margin-inline: auto;
    padding-bottom: 144px;
  }

  #card-jobs {
    box-sizing: border-box;
    height: 280px;
    width: 330px;
    border-radius: 10px;
    background-color: var(--gray-300);
    gap: 20px;
    padding: 12px;
    border: 1px solid var(--gray-100);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    &:hover {
      border: 2px solid var(--gray-500);
    }



    img {
      height: 156px;
      width: 306px;
      border-radius: 10px;
    }
  }

}

.services {

  #services-list {
    width: 1366px;
    height: 480px;
    background-color: var(--gray-100);
  }

  #services-head {
    text-align: center;
    padding-top: 68px;
  }


}